.fruit {
  width: 40px;
  height: 30px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  height: 720px;
  width: 1200px;
  border: 1px solid black;
  margin: auto;
}
.cell {
  height: 60px;
  width: 100px;
}

img {
  width: 30px;
  height: 30px;
  margin-left: 35px;
  margin-top: 15px;
}

.basket {
  height: 60px;
  width: 90px;
}
